<html>
                <head>
                </head>
                <body>
                {% if STATUS is not none and STATUS == 'SUCCESSFUL' %}
                <h1 style="font-size: 30px;color: white;background-color:MediumSeaGreen;text-align: center;border:40px solid MediumSeaGreen;">TV MTA ETL has run on {{TRIGGER_START_DATE}} <i>(timestamp: {{START_TIMESTAMP}})</i> to generate MTA TV Impressions in between {{START_DATE}} and {{END_DATE}}</h1>
                {% endif %}
                {% if STATUS is not none and STATUS == 'SKIPPED' %}
                <h1 style="font-size: 30px;color: rgb(15, 14, 14);background-color:rgb(236, 241, 139);text-align: center;border:40px solid rgb(236, 241, 139);">TV MTA ETL has run on {{TRIGGER_START_DATE}} <i>(timestamp: {{START_TIMESTAMP}})</i> to generate MTA TV Impressions in between {{START_DATE}} and {{END_DATE}}</h1>
                {% endif %}
                <br>
                <br>
                <p1><B>Recursive Trigger #{{RECURSIVE_TRIGGER_NUM}}:</B> started on {{RECURSIVE_START_DATE}} <i>(timestamp: {{RECURSIVE_TIMESTAMP}})</i>.</p1>
                <br><br>
                <table style="border-collapse: collapse;width: 100%;border: 1px solid back;">
                    <tr>
                    <th style="padding: 8px;text-align: left;border: 1px solid #ddd;background-color:gray;">TYPE</th>
                    <th style="padding: 8px;text-align: left;border: 1px solid #ddd;background-color:gray;">START_DATE</th>
                    <th style="padding: 8px;text-align: left;border: 1px solid #ddd;background-color:gray;">END_DATE</th>
                    <th style="padding: 8px;text-align: left;border: 1px solid #ddd;background-color:gray;">DESC</th>
                    </tr>
                    <tr>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">TIVO</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{TIVO_START_DATE}}</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{TIVO_END_DATE}}</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{TIVO_DESC}}</td>
                    </tr>
                    <tr>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">EXPERIAN</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{EXPERIAN_START_DATE}}</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{EXPERIAN_END_DATE}}</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{EXPERIAN_DESC}}</td>
                    </tr>
                    <tr>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">KANTAR</td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{KANTAR_START_DATE}}
                        {% if KANTAR_START_WEEK is not none %}
                        <br><i>(Kantar week: {{KANTAR_START_WEEK}})<i>
                        {% endif %}
                    </td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{KANTAR_END_DATE}}
                        {% if KANTAR_END_WEEK is not none %}
                        <br><i>(Kantar week: {{KANTAR_END_WEEK}})<i>
                        {% endif %}
                    </td>
                    <td style="padding: 8px;text-align: left;border: 1px solid #ddd;">{{KANTAR_DESC}}</td>
                    </tr>
                </table>
                <br>
                <p2>Finally, this recursive trigger has taken care of impression data processing from {{FINAL_START_DATE}} to {{FINAL_END_DATE}} as per their data availability in above input data sources.</p2>
                <br>
				<br>
                <p3><B>Creative LMT update status</B> :{{CREATIVE_LMT}}</p3>
                
                <br>
				<br>
                {% if STAGING_PATH is not none %}
                <p2>Further details and logs are available at: <i>{{STAGING_PATH}}</i></p2>
                <br>
                <br>
				{% endif %}
                {% if STAGING_PATH is none %}
					<p3>Please find the details and logs, in TV_ETL staging location of appropriate server based on given timestamps in header (started on)</p3>
                <br>
                <br>
				{% endif %}
                </body>
                </html>